In [ ]:
import pandas as pd
from matplotlib import pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error,mean_absolute_error

In [ ]:
df = pd.read_csv('Salary Data.csv')
df

In [ ]:
x= df.drop('Salary', axis=1)
x

In [ ]:
y= df.drop('Experience Years', axis=1)
y

In [ ]:
mean_x =x.mean()
mean_x

In [ ]:
mean_y = y.mean()
mean_y

In [ ]:
plt.scatter(x,y)
plt.scatter(mean_x,mean_y, color ='red')
plt.xlabel('Experience in Year')
plt.ylabel('Salary')
plt.title('Salary Prediction')

In [ ]:
reg= LinearRegression()
reg.fit(x,y)

In [ ]:
m=reg.coef_

In [ ]:
c=reg.intercept_

In [69]:
y_predict =m*x + c
y_predict

    Experience Years
0       36149.031319
1       37101.396369
2       38053.761420
3       39958.491522
4       44720.316775
5       46625.046877
6       49482.142029
7       53291.602232
8       54243.967283
9       56148.697384
10      56148.697384
11      59005.792536
12      60910.522638
13      61862.887689
14      62815.252739
15      63767.617790
16      63767.617790
17      64719.982841
18      66624.712942
19      68529.443044
20      70434.173145
21      72338.903247
22      74243.633348
23      76148.363450
24      78053.093551
25      81862.553754
26      82814.918805
27      84719.648907
28      87576.744059
29      90433.839211
30      93290.934363
31     100909.854769
32     103766.949921
33     106624.045074
34     108528.775175
35     111385.870327
36     116147.695581
37     117100.060632
38     123766.615987
39     125671.346088

In [ ]:
reg.predict(x)

In [ ]:
df['Predicted_y']= reg.predict(x)
df

In [ ]:
plt.scatter(x,df['Predicted_y'],color ='red')
plt.plot(x,df['Predicted_y'])
plt.scatter(x,y)
plt.scatter(mean_x,mean_y, color ='Black')
plt.xlabel('Experience in Year')
plt.ylabel('Salary')
plt.title('Salary Prediction')

In [ ]:
df['Absolute_Loss'] = abs(df['Salary']-df['Predicted_y'])

df.drop('Loss',axis=1)
df.head()

In [ ]:
df.drop('Loss',axis=1)

In [ ]:
mse = mean_squared_error(y,df['Predicted_y'])
mse

In [ ]:
mae =mean_absolute_error(y,df['Predicted_y'])
mae

In [73]:
sum(df['Absolute_Loss'])/len(x)

4516.281792544624

In [70]:
reg.score(x,y)

0.9558814451799361